<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiandu.dev.dao.ObObjectMapper">
    <resultMap type="com.qiandu.dev.bean.ObObject" id="ObObjectResult">
        <id property="object_id" column="object_id"/>
        <result property="object_name" column="object_name"/>
        <result property="object_uri" column="object_uri"/>
        <result property="object_uri_hash" column="object_uri_hash"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="begin_time" column="begin_time"/>
        <result property="end_time" column="end_time"/>
        <result property="client_id" column="client_id"/>
        <result property="creator_id" column="creator_id"/>
        <result property="create_time" column="create_time"/>
        <result property="editor_id" column="editor_id"/>
        <result property="edit_time" column="edit_time"/>
        <result property="scn" column="scn"/>
    </resultMap>
    <select id="getAll" resultMap="ObObjectResult">
--         SELECT * FROM OB_OBJECT
            SELECT OBJECT_ID,OBJECT_NAME, OBJECT_URI,OBJECT_URI_HASH,LATITUDE,LONGITUDE,BEGIN_TIME,END_TIME,CLIENT_ID,CREATOR_ID,CREATE_TIME,EDITOR_ID,EDIT_TIME,SCN FROM OB_OBJECT
    </select>
</mapper>